---
import Button from '@repo/ui/button';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='About'>
  <Button primary>Click me</Button>

  <div slot='experiments'>
    <p>Estás en la página <strong>about</strong></p>
  </div>
</BaseLayout>
