---
import Button from '@repo/ui/button';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='About'>
  <Button variant='outline' size='lg'>Click me</Button>

  <div slot='experiments'>
    <p>Estás en la página <strong>about</strong></p>
  </div>
</BaseLayout>
