---
import Button from '@repo/components/ui/Button';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='About'>
  <Button variant='outline' size='lg' href='/'>Click me (link to home)</Button>
</BaseLayout>
