---
import { Button } from '@repo/ui/button';
---

<html lang='es'>
  <head>
    <meta charSet='UTF-8' />
    <title>Astro Starter Kit: Basics</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  </head>
  <body>
    <h1>Astro Starter Kit: Basics</h1>
    <p>Welcome to your new Astro project!</p>
    <Button primary label='Hola' />
  </body>
</html>
