---
import AppHeader from '@repo/components/features/AppHeader';
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';
---

<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <title>Tutorial – {Astro.props.title}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <ClientRouter />
  </head>
  <body class='bg-surface-body'>
    <AppHeader
      brand={{
        label: 'Agenda Rioja Baja',
        headline: 'Eventos y ocio local',
        href: '/',
        logoSrc: '/images/arb-instagram-profile.webp',
      }}
      links={[
        {
          label: 'Patrocínanos',
          href: '#',
          icon: 'Megaphone',
          variant: 'text',
        },
        { label: 'Suscríbete', href: '#', icon: 'Mail', variant: 'text' },
        { label: 'Publicar Evento', href: '#', variant: 'brand' },
      ]}
    />

    <main class='p-4'>
      <div class='mx-auto max-w-7xl p-4 sm:px-6 lg:px-8'>
        <slot />
      </div>
    </main>
    <script>
      import '../scripts/back-navigation';
    </script>
  </body>
</html>
