---
import AppHeader from '@repo/components/features/AppHeader';
import '../styles/global.css';
---

<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <title>Tutorial – {Astro.props.title}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  </head>
  <body class='bg-surface-page'>
    <AppHeader
      brand={{
        label: 'Agenda Rioja Baja',
        headline: 'Eventos y ocio local',
        href: '/',
        logoSrc: '/images/arb-instagram-profile.webp',
      }}
      links={[
        {
          label: 'Patrocínanos',
          href: '#',
          icon: 'Megaphone',
          variant: 'text',
        },
        { label: 'Suscríbete', href: '#', icon: 'Mail', variant: 'text' },
        { label: 'Publicar Evento', href: '#', variant: 'brand' },
      ]}
    />

    <main class='p-4'>
      <slot />
      <div class='border-dotted border-2 border-amber-500 p-4 mt-4'>
        <slot name='experiments' />
      </div>
    </main>
  </body>
</html>
